<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>
        <%=title%>
    </title>
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body class="vapp">
    <%- include('../includes/header')-%>
        <main class="mt-5">
            <div class="container-fluid">
                <p class="text-center">Please select election to start voting</p>
                <div class="container auth-msg">
                    <%- include('../includes/messages') -%>
                </div>
                <div class="list-group">
                    <%if(elections.length > 0){%>
                        <%elections.forEach(function(election){%>
                            <a href="/voter/vote/<%=election._id%>/first" class="list-group-item list-group-item-action">
                                <%=election.name%>
                            </a>
                            <%})%>
                                <%}else{%>
                                    <div class="alert alert-info text-center" role="alert">
                                        No Elections available for you.
                                        <a href="/voter/logout" class=" btn btn-small btn-primary">Logout</a>
                                    </div>
                                    <%}%>
                </div>
            </div>
        </main>
        <%- include('../includes/footer') -%>
            <script src="../js/app.js"></script>
</body>

</html>