<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("includes/head")-%>
</head>

<body class="sb-nav-fixed ec-dashboard">
    <%- include('includes/topnav') -%>
        <div id="layoutSidenav">
            <%- include('includes/sidenav') -%>
                <div id="layoutSidenav_content">
                    <main>
                        <div class="container-fluid">
                            <!-- page content goes here -->
                        </div>
                    </main>
                    <%- include('includes/footer')-%>
                </div>
        </div>
        <%- include('includes/scripts') -%>
</body>

</html>