<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../includes/dash/head")-%>
        <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
        <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">
        <style>
            .filepond--root {
                max-height: 100em;
            }
        </style>
</head>

<body class="sb-nav-fixed ec-dashboard">
    <%- include('../includes/dash/topnav') -%>
        <div id="layoutSidenav">
            <%- include('../includes/dash/sidenav') -%>
                <div id="layoutSidenav_content">
                    <main>
                        <div class="container-fluid">
                            <div class="card mb-4 mt-5">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="controls col-md-12">
                                            <span>
                                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                            data-target="#exampleModal">
                                            Add Candidates
                                        </button>
                                    </span>
                                        </div>
                                        <div class="col-md-12">
                                            <%- include('../includes/messages') -%>
                                        </div>
                                    </div>
                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Enter Candidate Detials</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                                </div>
                                                <div class="modal-body">
                                                    <%if(elections){%>
                                                        <form id="addElectionCandidates" action="/ec/candidates" method="POST">
                                                            <div class="form-row">
                                                                <div class="input-group mb-3">
                                                                    <div class="input-group-prepend">
                                                                        <label class="input-group-text" for="candidateFormSelectElection">Election</label>
                                                                    </div>
                                                                    <select class="custom-select" id="candidateFormSelectElection" name="election_id">
                                                            <option value="" selected>Choose...</option>
                                                            <%elections.forEach(function(election){%>
                                                            <option value="<%=election._id%>"><%=election.name%>
                                                            </option>
                                                            <%})%>
                                                        </select>
                                                                </div>
                                                            </div>
                                                            <div class="form-row">
                                                                <div class="form-group col-md-6">
                                                                    <label for="name">Name</label>
                                                                    <input type="text" class="form-control" name="name" id="name" autocomplete="name" required aria-required="true">
                                                                </div>
                                                                <div class="form-group col-md-6 ">
                                                                    <label for="position">Position</label>
                                                                    <input type="position" class="form-control" name="position" id="position" autocomplete="position" required aria-required="true">
                                                                </div>
                                                            </div>
                                                            <div class="form-row">
                                                                <div class="col-md-12">
                                                                    <label for="avatar">Picture</label>
                                                                    <input type="file" name="avatar" id="avatar" class="filepond" accept="'image/svg+xml','image/jpeg', 'image/png'">
                                                                </div>
                                                            </div>
                                                        </form>
                                                        <%}else{%>
                                                            <div class="">
                                                                <p class="h4">No election available</p>
                                                            </div>
                                                            <%}%>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <button type="button" class="btn btn-primary" onclick="document.getElementById('addElectionCandidates').submit();">Add</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="container-fluid">
                                <div class="mt-5">
                                    <%if(elections){%>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <label class="input-group-text" for="inputGroupSelectElection">Select
                                                        Election</label>
                                            </div>
                                            <select class="custom-select" id="inputGroupSelectElection">
                                                    <option value="" selected>Choose...</option>
                                                    <%elections.forEach(function(election){%>
                                                    <option value="<%=election._id%>"><%=election.name%></option>
                                                    <%})%>
                                                </select>
                                        </div>
                                        <!-- candidates -->
                                        <div class="candidates-wrapper">
                                            <div class="candidates-container position-candidates">
                                                <p class="h4">Select an election to view candidates</p>
                                            </div>
                                        </div>
                                        <!-- candidate edit form modal -->
                                        <div id="edit-candidate" class="modal fade" aria-labelledby="editCandidateModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <p class="modal-title h5" id="editCandidateModalLabel">Edit Candidate Details</p>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form id="edit-candidate-form">
                                                            <div id="form-name">
                                                                <div class="form-group col-md-12">
                                                                    <label for="new_name">Name</label>
                                                                    <input type="text" class="form-control" name="new_name" id="new_name" autocomplete="new_name" required aria-required="true">
                                                                </div>
                                                            </div>
                                                            <div id="form-image">
                                                                <div class="form-row">
                                                                    <div class="col-md-12">
                                                                        <label for="new_avatar">Picture</label>
                                                                        <input type="file" name="new_avatar" id="new_avatar" class="filepond" accept="image/svg+xml,image/jpeg,image/png">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                        <button type="button" id="save-new-detials" class="btn btn-primary">Save changes</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <%}else{%>
                                            <p class="h3">No elections available</p>
                                            <%}%>
                                </div>

                            </div>
                        </div>
                    </main>
                    <%- include('../includes/dash/footer')-%>
                </div>
        </div>
        <%- include('../includes/dash/scripts') -%>
            <!-- filepond dependencies for fileupload -->
            <script src="https://unpkg.com/filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.js"></script>
            <script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
            <script src="https://unpkg.com/filepond-plugin-file-validate-size/dist/filepond-plugin-file-validate-size.js"></script>
            <script src="https://unpkg.com/filepond-plugin-image-transform/dist/filepond-plugin-image-transform.js"></script>
            <script src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
            <script src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
            <script src="https://unpkg.com/filepond/dist/filepond.js"></script>
            <script>
                $(document).ready(function() {
                    $("#inputGroupSelectElection").on("input", function(e) {
                        let id = e.target.value;

                        $.ajax({
                            url: `/ec/candidates?id=${id}`,
                            success: function(res) {
                                if (res.msg == "Invalid id") {
                                    $('#messages').append(
                                        `<div class="alert alert-danger alert-dismissible fade show" role="alert">
                                            ${res.msg}: Please select a valid election
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button></div>`);
                                } else {
                                    if (res.positions) {
                                        // let imageSrc = `data:${imagetype};charset=utf-8;base64,${data.toString("base64")}`
                                        $(".position-candidates").html('');
                                        for (let position in res.positions) {
                                           
                                            $(".position-candidates").append(
                                                `<div class="position mt-4" id="${position.replace(/ /g, '_')}-container">
                                                    <div class="mb-3" style="display:inline-bock">
                                                        <p class="h4">${position}</p>
                                                        <button type="button"  class="btn btn-small btn-primary remove_position" data-election="${res._id}" data-position="${position}" title="Delete">
                                                            Remove Position
                                                        </button>
                                                    </div>  
                                                    <hr/>                                          
                                                    <div class="row" id="${position.replace(/ /g, '_')}"></div>
                                                    
                                                </div>`
                                            );
                                            res.positions[position].forEach(function(candidate) {
                                                $(`#${position.replace(/ /g, '_')}`).append(
                                                    `<div class="candidate col-sm-auto" id="${candidate.name.replace(/ /g, '_')}">
                                                        <figure>
                                                            <figcaption>${candidate.name}</figcaption>
                                                        </figure>
                                                        <div>
                                                            <button type="button"  class="edit_candidate btn btn-small btn-primary" data-election="${res._id}" data-position="${position}" data-candidate="${candidate.name}" title="Edit"><i class="fas fa-edit"></i></button>
                                                            <button type="button"  class="delete_candidate btn btn-small btn-primary" data-election="${res._id}" data-position="${position}" data-candidate="${candidate.name}" title="Delete"><i class="fas fa-trash"></i></button>
                                                        </div>
                                                    </div>`);
                                                    if(candidate.image){
                                                        $(`#${position.replace(/ /g, '_')} figure`).prepend(`<img src="data:${candidate.image.type};charset=utf-8;base64,${candidate.image.data.toString("base64")}" alt="${candidate.name}">`);
                                                    }
                                            });

                                        }


                                    } else {

                                        $(".position-candidates").html(`<div class="alert alert-primary alert-dismissible fade show" role="alert">
                                            <p class="h3">No Candidates available. Please add candidates</p>
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button></div>`);
                                    }
                                }
                            },
                            error: function(error) {
                                console.log(error);
                            }
                        })
                    })

                    // filepond setup
                    FilePond.registerPlugin(
                        FilePondPluginFileValidateType,
                        FilePondPluginImagePreview,
                        FilePondPluginFileValidateSize,
                        FilePondPluginImageResize,
                        FilePondPluginImageTransform,
                        FilePondPluginFileEncode,
                    )

                    FilePond.setOptions({
                        acceptedFileTypes: [
                            'image/svg+xml',
                            'image/jpeg', 
                            'image/png'
                        ],
                        fileValidateTypeLabelExpectedTypes: 'Expects .svg,.png,.jpeg or .jpg',
                        fileValidateTypeLabelExpectedTypesMap:{ 
                            'image/jpeg': '.jpg,.jpeg' ,
                            'image/png': '.png',
                            'image/svg+xml':'.svg'
                        },
                        stylePanelAspectRatio: 100 / 100,
                        imageResizeTargetWidth: 100,
                        imageResizeTargetHeight: 100,
                        maxFileSize: '500KB'
                    })

                    FilePond.parse(document.body);

                    $(".candidates-container").on("click", ".remove_position", function(event) {
                        if (confirm("Are you shure you want to delete record\nThis action will lead to permanent loss of data")) {
                            var position = $(this).data("position");
                            var election = $(this).data("election");
                            $.ajax({
                                url: "/ec/election/remove/position",
                                method: 'DELETE',
                                data: {
                                    election: election,
                                    position: position
                                },
                                success: function (res) {
                                    
                                    if (res.position) {
                                        $(`#${res.position.replace(/ /g, '_')}-container`).remove();
                                    } else if (res.msg.startsWith("Cannot")) {
                                        $('#messages').append(
                                            `<div class="alert alert-danger alert-dismissible fade show" role="alert">
                                            ${res.msg}
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button></div>`);
                                    }
                                },
                                error: function (error) {
                                    console.log(error);
                                },
                            })
                        }
                    
                    });
                    $(".candidates-container").on("click", ".delete_candidate", function (event) {
                       if(confirm("Are you shure you want to delete record\nThis action will lead to permanent loss of data")){
                            var position = $(this).data("position");
                           var election = $(this).data("election");
                           var candidate = $(this).data("candidate")
                           $.ajax({
                               url: "/ec/election/remove/candidate",
                               method: 'DELETE',
                               data: {
                                   election: election,
                                   position: position,
                                   candidate: candidate
                               },
                               success: function (res) {
                                //    console.log(res)
                                   if(res.candidate){
                                       $(`#${res.candidate.replace(/ /g, '_')}`).remove();
                                   }else if( res.msg.startsWith("Cannot")){
                                        $('#messages').append(
                                           `<div class="alert alert-danger alert-dismissible fade show" role="alert">
                                            ${res.msg}
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button></div>`);
                                   }
                               },
                               error: function (error) {
                                   console.log(error);
                               },
                           });
                       }
                    });
                    $(".candidates-container").on("click", ".edit_candidate", function (event) {
                        $('#edit-candidate').modal('toggle')
                        var position = $(this).data("position");
                        var election = $(this).data("election");
                        var candidate = $(this).data("candidate")
                      //pass candidate detials to form
                        var form = $("#edit-candidate-form")
                        form.attr("data-position",position);
                        form.attr("data-election",election);
                        form.attr("data-candidate", candidate);
                        $("#new_name").val(candidate)
                    });

                    $("#save-new-detials").on('click',function(event){
                        var form = $("#edit-candidate-form");
                        var data = {
                            position:form.data("position"),
                            election:form.data("election"),
                            old_name: form.data("candidate"),
                        }
                        form.serializeArray().forEach(function(input){
                            data[input.name] = input.value;
                        });
                        $('#edit-candidate').modal('toggle');
                        $.ajax({
                            method:"PATCH",
                            url: "/ec/election/edit/candidate",
                            data:data,
                            success:function(res){
                                console.log(res)
                                if( res instanceof Array){
                                    res.forEach(function (value) {
                                        $('#messages').append(
                                            `<div class="alert alert-danger alert-dismissible fade show" role="alert">
                                            ${value.msg}
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button></div>`);
                                    });
                                }else{
                                    if (res == null) {
                                         $('#messages').append(
                                            `<div class="alert alert-danger alert-dismissible fade show" role="alert">
                                             Could not update candidate's detials.
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button></div>`);
                                    }else{
                                        $('#messages').append(
                                            `<div class="alert alert-success alert-dismissible fade show" role="alert">
                                            Candidate details updated successfully.
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button></div>`);
                                        window.location.reload();
                                    }
                                }
                            }
                        })
                    });

                    $('#edit-candidate').on('hidden.bs.modal', function (e) {
                        form = $("#edit-candidate-form")
                        form.removeAttr("data-position");
                        form.removeAttr("data-election")
                        form.removeAttr("data-candidate");
                    })
                })
            </script>
</body>

</html>