<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../includes/dash/head")-%>
        <style>
            .action-btn {
                width: 100%;
            }
        </style>
</head>

<body class="sb-nav-fixed ec-dashboard">
    <%- include('../includes/dash/topnav') -%>
        <div id="layoutSidenav">
            <%- include('../includes/dash/sidenav') -%>
                <div id="layoutSidenav_content">
                    <main>
                        <div class="container-fluid">
                            <div class="card mb-4 mt-5">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="controls col-md-12">
                                            <span></span>
                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">New
                                        Election</button>
                                            </span>
                                        </div>
                                        <!-- notification messages -->
                                        <div class="col-md-12">
                                            <%- include('../includes/messages') -%>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- election form modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Enter Admin Detials</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                        </div>
                                        <div class="modal-body">
                                            <form id="createElection" action="/ec/elections" method="POST">
                                                <div class="form-row">
                                                    <div class="form-group col-md-12">
                                                        <label for="name">Election Name</label>
                                                        <input type="text" class="form-control" name="name" id="name" required aria-required="true">
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-row">
                                                        <div class="form-group col-sm-6">
                                                            <label for="start">Starting Date</label>
                                                            <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                                                                <input type="text" name="start" id="start" class="form-control datetimepicker-input" data-target="#datetimepicker1" />
                                                                <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                                                                    <div class="input-group-text"><i class="fa fa-calendar"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-sm-6">
                                                            <label for="end">Ending Date</label>
                                                            <div class="input-group date" id="datetimepicker9" data-target-input="nearest">
                                                                <input type="text" name="end" id="end" class="form-control datetimepicker-input" data-target="#datetimepicker9" />
                                                                <div class="input-group-append" data-target="#datetimepicker9" data-toggle="datetimepicker">
                                                                    <div class="input-group-text"><i class="fa fa-calendar"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary" onclick="document.getElementById('createElection').submit();">Add</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- election list tables -->
                            <!-- <div class="container "> -->

                            <div class="table-responsive mt-5 text-center">
                                <table class="table table-bordered  table-striped " id="elections" width="100%" cellspacing="0">
                                    <caption>
                                        <p class="h3">Election List</p>
                                    </caption>
                                    <thead>
                                        <tr>
                                            <th hidden>ID</th>
                                            <th>Name</th>
                                            <th>Starts</th>
                                            <th>Ends</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <% elections.forEach(function(election){ %>
                                            <tr>
                                                <td hidden>
                                                    <%= election._id%>
                                                </td>
                                                <td>
                                                    <%= election.name%>
                                                </td>
                                                <td>
                                                    <%=moment(election.start).format("dddd, MMMM Do YYYY, h:mm:ss A")%>
                                                </td>
                                                <td>
                                                    <%= moment(election.end).format("dddd, MMMM Do YYYY, h:mm:ss A")%>
                                                </td>
                                                <td>
                                                    <%= election.status%>
                                                </td>
                                                <td>
                                                    <%if(election.status === "pending"){%>
                                                        <button type="button" class="btn btn-small btn-primary start-btn action-btn">Start</button>
                                                        <%}else if(election.status === "active"){%>
                                                            <button type="button" class="btn btn-small btn-primary end-btn action-btn">End</button>
                                                            <%}%>
                                                                <%if(election.status === "active" || election.status ==="ended"){%>
                                                                    <a href="/ec/<%=election._id%>" class="btn btn-small mt-3 btn-primary action-btn">Results</a>
                                                                    <%}%>
                                                                        <button type="button" title="Delete" class="btn btn-small btn-primary mt-3 delete-btn action-btn">Delete</button>

                                                </td>
                                            </tr>
                                            <%});%>
                                    </tbody>
                                    <tfoot>
                                        <th hidden>ID</th>
                                        <th>Name</th>
                                        <th>Starts</th>
                                        <th>Ends</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tfoot>
                                </table>
                            </div>
                            <!-- </div> -->
                        </div>
                    </main>
                    <%- include('../includes/dash/footer')-%>
                </div>
        </div>
        <%- include('../includes/dash/scripts') -%>

            <script>
                $(document).ready(() => {

                    $('#datetimepicker1 #datetimepicker9').datetimepicker();

                    let table = $('#elections').DataTable();
                    table.on('click', '.delete-btn', function(e) {
                        // console.log(e)
                        var tr = $(e.target).closest('tr');
                        var data = table.row(tr).data();
                        if (confirm("Are you shure you want to delete record\nThis action will lead to permanent loss of data")) {
                            $.ajax({
                                url: '/ec/elections',
                                method: 'DELETE',
                                data: {
                                    id: data[0],
                                },
                                success: function(res) {
                                    console.log(res);
                                    if (res.msg == "Invalid id") {
                                        $('#messages').append(
                                            `<div class="alert alert-danger alert-dismissible fade show" role="alert">
                                            Can't delete election: ${res.msg}
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button></div>`);
                                    } else {
                                        $('#messages').append(
                                            `<div class="alert alert-success alert-dismissible fade show" role="alert">
                                            ${res.msg}
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button></div>`);
                                        let clear = setTimeout(function() {
                                            window.location.reload();
                                        }, 3000);
                                        //clearInterval(clear);
                                    }
                                },
                                error: function(error) {
                                    console.log(error);
                                }
                            })
                        }
                    });
                    table.on('click', '.start-btn', function(e) {
                        var tr = $(e.target).closest('tr');
                        var data = table.row(tr).data();
                        if (confirm("Are you shure you want to start this election")) {
                            $.ajax({
                                url: '/ec/elections/start',
                                method: 'PATCH',
                                data: {
                                    status: "active",
                                    id: data[0],
                                },
                                success: function(res) {
                                    console.log(res);
                                    if (res instanceof Array) {
                                        res.forEach(function (value) {
                                            $('#messages').append(
                                                `<div class="alert alert-danger alert-dismissible fade show" role="alert">
                                            ${value.msg}
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button></div>`);
                                        });
                                    } else {
                                        $('#messages').append(
                                            `<div class="alert alert-success alert-dismissible fade show" role="alert">
                                            ${res.msg}
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button></div>`);
                                        let clear = setTimeout(function() {
                                            window.location.reload();
                                        }, 3000);
                                        //clearInterval(clear);

                                    }
                                },
                                error: function(error) {
                                    console.log(error);
                                }
                            })
                        }

                    });
                    table.on('click', '.end-btn', function(e) {
                        var tr = $(e.target).closest('tr');
                        var data = table.row(tr).data();
                        if (confirm("Are you shure you want to end this election")) {
                            $.ajax({
                                url: '/ec/elections/end',
                                method: 'PATCH',
                                data: {
                                    status: "ended",
                                    id: data[0],
                                },
                                success: function(res) {
                                    console.log(res);
                                    if (res.msg == "Invalid id") {
                                        $('#messages').append(
                                            `<div class="alert alert-danger alert-dismissible fade show" role="alert">
                                            Can't end election: ${res.msg}
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button></div>`);
                                    } else {
                                        $('#messages').append(
                                            `<div class="alert alert-success alert-dismissible fade show" role="alert">
                                            ${res.msg}
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button></div>`);
                                        let clear = setTimeout(function() {
                                            window.location.reload();
                                        }, 3000);
                                        //clearInterval(clear);

                                    }
                                },
                                error: function(error) {
                                    console.log(error);
                                }
                            })
                        }

                    });
                });
            </script>
</body>

</html>