<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../includes/dash/head")-%>
        <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
        <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">
</head>

<body class="sb-nav-fixed ec-dashboard">
    <%- include('../includes/dash/topnav') -%>
        <div id="layoutSidenav">
            <%- include('../includes/dash/sidenav') -%>
                <div id="layoutSidenav_content">
                    <main>
                        <div class="container-fluid">
                            <div class="card mb-4 mt-5">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="controls col-md-12">
                                            <span>
                                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                            data-target="#exampleModal">
                                            Add Voter
                                        </button>
                                    </span>
                                            <span>
                                        <button type="button" class="btn btn-primary mt-2 mb-2" data-toggle="modal"
                                            data-target="#fileModal">
                                            Import Voters from file
                                        </button>
                                    </span>
                                            <span>
                                        <a href="<%=assets('/voters_import_file_example.xlsx')%>"
                                            download="import_file_format" class="btn">View import file example</a>
                                    </span>
                                        </div>
                                        <div class="col-md-12">
                                            <%- include('../includes/messages') -%>
                                        </div>
                                    </div>
                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Enter Candidate Detials</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                                </div>
                                                <div class="modal-body">
                                                    <%if(elections){%>
                                                        <form id="addElectionCandidates" action="/ec/voters" method="POST">
                                                            <div class="form-row">
                                                                <div class="input-group mb-3">
                                                                    <div class="input-group-prepend">
                                                                        <label class="input-group-text" for="candidateFormSelectElection">Election</label>
                                                                    </div>
                                                                    <select class="custom-select" id="candidateFormSelectElection" name="election_id">
                                                            <option value="">Choose...</option>
                                                            <%elections.forEach(function(election){%>
                                                            <option value="<%=election._id%>"><%=election.name%>
                                                            </option>
                                                            <%})%>
                                                        </select>
                                                                </div>
                                                            </div>
                                                            <div class="form-row">
                                                                <div class="form-group col-md-6">
                                                                    <label for="username">Username</label>
                                                                    <input type="text" class="form-control" name="username" id="username" autocomplete="username" required aria-required="true">
                                                                </div>
                                                                <div class="form-group col-md-6 ">
                                                                    <label for="new-password">Password</label>
                                                                    <div class="position-relative">
                                                                        <input type="password" class="form-control" name="new-password" id="new-password" autocomplete="new-password" required aria-required="true">
                                                                        <i class="pass__toggle--visibility fas fa-eye" title="Show password" role="button"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- <div class="form-row">
                                                                <div class="col-md-12">
                                                                    <label for="avatar">Picture</label>
                                                                    <input type="file" name="avatar" id="avatar" class="filepond">
                                                                </div>
                                                            </div> -->
                                                        </form>
                                                        <%}else{%>
                                                            <div class="">
                                                                <p class="h4">No election available</p>
                                                            </div>
                                                            <%}%>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <button type="button" class="btn btn-primary" onclick="document.getElementById('addElectionCandidates').submit();">Add</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- excel file upload -->
                                    <div class="modal fade" id="fileModal" tabindex="-1" aria-labelledby="fileModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="fileModalLabel">Enter Candidate Detials</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <%if(elections){%>
                                                        <form id="importFile" action="/ec/voters/import" method="POST">
                                                            <div class="form-row">
                                                                <div class="input-group mb-3">
                                                                    <div class="input-group-prepend">
                                                                        <label class="input-group-text" for="fileFormSelectElection">Election</label>
                                                                    </div>
                                                                    <select class="custom-select" id="fileFormSelectElection" name="election_id">
                                                            <option value="">Choose...</option>
                                                            <%elections.forEach(function(election){%>
                                                            <option value="<%=election._id%>"><%=election.name%>
                                                            </option>
                                                            <%})%>
                                                        </select>
                                                                </div>
                                                            </div>

                                                            <div class="form-row">
                                                                <div class="col-md-12">
                                                                    <label for="file">File</label>
                                                                    <input type="file" name="file" id="file" class="filepond" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel">
                                                                </div>
                                                            </div>
                                                        </form>
                                                        <%}else{%>
                                                            <div class="">
                                                                <p class="h4">No election available</p>
                                                            </div>
                                                            <%}%>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <button type="button" class="btn btn-primary" onclick="document.getElementById('importFile').submit();">Add</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="container-fluid">
                                <div class="mt-5">
                                    <%if(elections){%>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <label class="input-group-text" for="inputGroupSelectElection">Select
                                                        Election</label>
                                            </div>
                                            <select class="custom-select" id="inputGroupSelectElection">
                                                    <option value="" selected>Choose...</option>
                                                    <%elections.forEach(function(election){%>
                                                    <option value="<%=election._id%>"><%=election.name%></option>
                                                    <%})%>
                                                </select>
                                        </div>
                                        <!-- candidates -->
                                        <div class="table-responsive mt-5 text-center">
                                            <p class="h4">Select an election to view Voters</p>

                                            <table id="voters" class="table table-striped table-bordered">
                                                <caption>
                                                    <p class="h3">Voters</p>
                                                </caption>
                                                <thead>
                                                    <th>Name</th>
                                                    <th>Action</th>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                                <tfoot>
                                                    <th>Name</th>
                                                    <th>Action</th>
                                                </tfoot>
                                            </table>
                                        </div>

                                        <%}else{%>
                                            <p class="h3">No elections available</p>
                                            <%}%>
                                </div>


                            </div>
                        </div>
                    </main>
                    <%- include('../includes/dash/footer')-%>
                </div>
        </div>
        <%- include('../includes/dash/scripts') -%>
            <!-- filepond dependencies for fileupload -->
            <!-- <script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
            <script src="https://unpkg.com/filepond-plugin-file-validate-size/dist/filepond-plugin-file-validate-size.js"></script>
            <script src="https://unpkg.com/filepond-plugin-image-transform/dist/filepond-plugin-image-transform.js"></script>
            
            <script src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script> -->
            <script src="https://unpkg.com/filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.js"></script>
            <script src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
            <script src="https://unpkg.com/filepond/dist/filepond.js"></script>
            <script>
                $(document).ready(function() {
                    var table = $('#voters').DataTable();
                    $("#inputGroupSelectElection").on("input", function(e) {
                        let id = e.target.value;

                        $.ajax({
                            url: `/ec/voters?id=${id}`,
                            success: function(res) {
                                if (res.msg == "Invalid id") {
                                    $('#messages').append(
                                        `<div class="alert alert-danger alert-dismissible fade show" role="alert">
                                            ${res.msg}: Please select a valid election
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button></div>`);
                                } else {
                                    if (res instanceof Array) {
                                        $("#voters tbody").html('');
                                        table.destroy();
                                        table = $('#voters').DataTable({
                                            data: res,
                                            columns: [{
                                                data: 'username'
                                            }, {
                                                value: null,
                                                render: function(data, type, row, meta) {
                                                    return '<button type="button" title="Delete" class="btn btn-small btn-primary mt-3 delete-btn action-btn">Delete</button>'
                                                }
                                            }, ]
                                        });


                                    }
                                }
                            },
                            error: function(error) {
                                console.log(error);
                            }
                        })
                    })

                     table.on('click', '.delete-btn', function (e) {
                        // console.log(e)
                        var tr = $(e.target).closest('tr');
                        var data = table.row(tr).data();
                        // console.log(data)
                        if (confirm("Are you shure you want to delete record\nThis action will lead to permanent loss of data")) {
                            $.ajax({
                                url: '/ec/voters',
                                method: 'DELETE',
                                data: {
                                    id: data._id,
                                },
                                success: function (res) {
                                    console.log(res);
                                    if (res.msg == "Invalid id") {
                                        $('#messages').append(
                                            `<div class="alert alert-danger alert-dismissible fade show" role="alert">
                                            Can't delete election: ${res.msg}
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button></div>`);
                                    } else {
                                        $('#messages').append(
                                            `<div class="alert alert-success alert-dismissible fade show" role="alert">
                                            ${res.msg}
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button></div>`);
                                        
                                            window.location.reload();
                                        
                                        
                                    }
                                },
                                error: function (error) {
                                    console.log(error);
                                }
                            })
                        }
                    });
                    
                    // filepond setup
                    FilePond.registerPlugin(
                        FilePondPluginFileValidateType,
                        FilePondPluginFileEncode,
                    )

                    FilePond.setOptions({
                        acceptedFileTypes: [
                            "application/vnd.ms-excel",
                            "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                        ],
                        fileValidateTypeLabelExpectedTypesMap: {
                            "application/vnd.ms-excel": ".xls",
                            "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": ".xlsx",
                        }
                    })

                    FilePond.parse(document.body);
                })
            </script>
</body>

</html>